# 1. List and its default functions

In [1]:
mylist = ["akash",27,15.66,"kumar"]

In [8]:
mylist.index(15.66)

2

In [9]:
mylist.append(1000)
print("To add one item in the list",mylist)

To add one item in the list ['akash', 27, 15.66, 'kumar', 1000]

In [10]:
mylist.extend(["python","lets upgrade"])
print("To extend item in the list",mylist)

To extend item in the list ['akash', 27, 15.66, 'kumar', 1000, 'python', 'lets upgrade']

In [11]:
mylist.insert(4,9999)
print("To insert 9999 at position 4",mylist)

To insert 9999 at position 4 ['akash', 27, 15.66, 'kumar', 9999, 1000, 'python', 'lets upgrade']

In [12]:
mylist.reverse()
print("To reverse the entire list",mylist)

To reverse the entire list ['lets upgrade', 'python', 1000, 9999, 'kumar', 15.66, 27, 'akash']

In [151]:
mylist = ["akash",27,15.66,"kumar"]
mylist.remove("akash")
mylist

[27, 15.66, 'kumar']

In [150]:
mylist = ["akash",27,15.66,"kumar"]
mylist.pop(1)

27

In [155]:
mylist.clear()
mylist

[]

# 2. Dictionary and its default functions

In [13]:
mydict = {1:"akash",2:"kumar",3:"school",4:"DAV"}

In [14]:
mydict.keys()

dict_keys([1, 2, 3, 4])

In [15]:
mydict.values()

dict_values(['akash', 'kumar', 'school', 'DAV'])

In [17]:
mydict.items()

dict_items([(1, 'akash'), (2, 'kumar'), (3, 'school'), (4, 'DAV')])

In [30]:
mydict.copy()

{1: 'akash', 2: 'kumar', 3: 'school', 4: 'DAV'}

In [33]:
mydict.get(3)

'school'

In [159]:
mydict1 = {1:"akash",2:"kumar",3:"school",4:"DAV","email":"akashkmr@"}
mydict1.pop("email")

'akashkmr@'

In [160]:
mydict1.update({"city":"dhanbad"})
mydict1

{1: 'akash', 2: 'kumar', 3: 'school', 4: 'DAV', 'city': 'dhanbad'}

In [161]:
mydict1.clear()
mydict1

{}

# 3. Sets and its default functions

In [48]:
mysets1 = {1,2,3,3,"a","b","c"}
mysets2 = {2,3,4,5,"b"}

In [50]:
mysets1.add(95)
mysets1

{1, 2, 3, 95, 'a', 'b', 'c'}

In [51]:
mysets3={"a","b"}
mysets3.issubset(mysets1)

True

In [139]:
mysets1.difference(mysets2)

{1, 'a', 'c'}

In [55]:
mysets1.intersection(mysets2)

{2, 3, 'b'}

In [56]:
mysets1.union(mysets2)

{1, 2, 3, 4, 5, 95, 'a', 'b', 'c'}

In [58]:
mysets1.discard(95)
mysets1

{1, 2, 3, 'a', 'b', 'c'}

In [138]:
mysets1.update(mysets2)
mysets1

{1, 2, 3, 4, 5, 'a', 'b', 'c'}

# 4. Tuple and explore default methods

In [87]:
mytuple1 = ("a","b","c","d",10)
mytuple2 = ("g","h","i",11)

In [62]:
mytuple1.index(10)

4

In [63]:
mytuple1[4]

10

In [129]:
mytuple1[1:5]

('b', 'c', 'd', 10)

In [128]:
len(mytuple1)

5

In [127]:
mytuple1.count("d")

1

# 5. String and explore different methods

In [130]:
mystring1 = "akash,kumar,dhanbad,DAV"
mystring2 = "hello world."

In [133]:
mystring2.capitalize()

'Hello world'

In [134]:
mystring2.center(50)

'                   hello world                    '

In [135]:
mystring2.encode()

b'hello world'

In [88]:
mystring1.upper()

'AKASH,KUMAR,DHANBAD,DAV'

In [89]:
mystring1.lower()

'akash,kumar,dhanbad,dav'

In [91]:
mystring1.replace("DAV","KVS")

'akash,kumar,dhanbad,KVS'

In [92]:
mystring1.count("a")

5

In [95]:
mystring1.index("s")

3

In [97]:
mystring1.split(",")

['akash', 'kumar', 'dhanbad', 'DAV']

In [131]:
mystring1.endswith(".")

False

In [132]:
mystring1.startswith("akash")

True

In [103]:
mystring1.find("h")

4

In [105]:
mystring1.islower()

False

In [106]:
mystring1.isupper()

False

In [107]:
mystring1.isascii()

True

In [108]:
mystring1.isalpha()

False

In [109]:
mystring1.isdecimal()

False

In [110]:
mystring1.isalnum()

False

In [111]:
mystring1.isdigit()

False

In [112]:
mystring1.isidentifier()

False

In [113]:
mystring1.isnumeric()

False

In [114]:
mystring1.isprintable()

True

In [115]:
mystring1.isspace()

False

In [116]:
mystring1.istitle()

False

In [117]:
mystring1.swapcase()

'AKASH,KUMAR,DHANBAD,dav'

In [119]:
mystring1.strip()

'akash,kumar,dhanbad,DAV'

In [125]:
mystring1.casefold()

'akash,kumar,dhanbad,dav'